 @import url('https://fonts.googleapis.com/css?family=Anton|Istok+Web');
 /* Global Styles */

 html,
 body {
     width: 100%;
     height: 100%;
     background-color: #f6eae2;
}
@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas'), url('../fonts/BebasNeue.otf') format('opentype');
}
body {
    font-family: "Istok Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    color: #fff;
}

.text-vertical-center {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

h3 {
    font-family: 'Anton', cursive;
}

h1.title-text {
    font-size: 75px;
    text-shadow: 2px 2px #222;
}
/* Custom Button Styles */
.btn-sq {

}

.btn-dark {
    color: #f6eae2;
    font-family: 'Anton', cursive;
    background-color: rgb(107, 211, 194);
    border-radius: 15px;
}

.btn-dark:hover {
    background-color:  rgba(25, 109, 255, 1);
    color: #f6eae2;
}

.btn-dark:active {
    color: #f6eae2;
    background-color:  rgba(40, 150, 255, 1);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
    text-shadow: 1px 1px #222;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.secure-text {
    position: relative;
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg3.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 0 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    font-family: 'Istok Web', cursive;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 150px !important;
    height: 150px !important;
    background-color: rgba( 0,57,206,1);
    text-align: left;
    border-radius: 15px;
    
    color: rgba( 35, 35, 35, 0.9);
    border: 0px;
    border-color: rgba( 0, 0, 0, 0.1);
    /*box-shadow: 1px 1px 7px #888888;*/
}

.btn-default:active:hover{
    background-color: inherit;
}
.service-item h3 {
    font-size: 35px;
    position: absolute;
    bottom: 0;
}

.donation {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

/* Footer */

footer {
    padding: 100px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.black-text {
    font-family: 'Gloria Hallelujah', cursive;
    color: #fff;
    padding-bottom: 15px;
    text-shadow: 2px 2px #222;
}

.black-text-inverse {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba( 0, 74, 203, 1);
    padding-bottom: 15px;
    text-shadow: 2px 2px #222;
}

h1.black-text {
    font-size: 50px;
}

.form-control {
    color: rgba( 0, 0, 0, 0.8);
    font-size: 14px;
    position: relative;
    left: 0;
    padding: 25px 15px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0;
    text-transform: uppercase;
    background-color: #f6eae2;
    font-weight: bold;
    letter-spacing: 4px;
}

.form-control.form-white {
    color: rgba( 96, 96, 93, 1);
    /*border: 2px solid white;
    border-color: rgba( 0, 0, 0, 1);*/
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.form-control.form-white::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba( 0, 0, 0, 0.6);
}

.form-control.form-white:-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: rgba( 0, 0, 0, 0.6);
}

.form-control.form-white::-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: rgba( 0, 0, 0, 0.6);
}

.form-control.form-white:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba( 0, 74, 203, 0.6);
}

.form-control.form-white:focus {
    /*background-color: rgba( 0, 74, 203, 0.1);*/
}

.btn-lg {
    font-size: 36px;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: rgba( 0, 74, 203, 0.6);
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
}

@media (min-width: 768px) {
    .v-center {
        display: flex;
        align-items: center;
    }
    
}

#area-form {
    background-color: rgb(237, 214, 200);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.95;
}

#body-row {
    background-color: rgb(107, 211, 194);
}

#header-row {
    background: url(../img/bg4.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.help-block {
    margin-bottom: 0px;
}

h2.card-type-icons {
    margin-top: 2px;
    margin-bottom: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=month]::-webkit-inner-spin-button, 
input[type=month]::-webkit-outer-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.navbar-default {
    background-color: #15314c;
}
.navbar {
    min-height: 80px;
    margin-bottom: 0px;
    color: rgba( 0,57,206,1);
}
.h1, h1 {
    font-size: 70px;
}


.bg-morado {
    color: #fff;
    background-color: rgb(104, 43, 141);
}

.bg-morado:hover, .bg-morado:active {
    color: #fff;
    background-color: rgba(156, 64, 211, 1);
}

.bg-celeste {
    color: #fff;
    background-color: rgb(125, 206, 241);
}
.bg-celeste:hover, .bg-celeste:active {
    color: #fff;
    background-color: rgba(12, 183, 242, 1);
}

.bg-rojo{
    color: #fff;
    background-color: rgb(230, 75, 85);
}

.bg-rojo:hover, .bg-rojo:active {
    color: #fff;
    background-color: rgba(255, 0, 0, 1);
}

.bg-gris{
    color: #fff;
    background-color: rgb(165, 167, 170);
}

.bg-gris:hover, .bg-gris:active {
    color: #fff;
    background-color: rgba(82, 83, 85, 1);
}

.bg-algo-verde{
    color: #fff;
    background-color: rgb(44, 174, 147);
}

.bg-algo-verde:hover, .bg-algo-verde:active {
    color: #fff;
    background-color: rgba(40, 197, 120, 1);
}

.bg-azul {
    color: #fff;
    background-color: rgb(21, 49, 76);
}

.bg-azul:hover {
    color: #fff;
    text-shadow: 1px 1px #222;
    background-color: rgba(0, 99, 187, 0.9);
}
.bg-azul:focus {
    color: #fff;
    text-shadow: 1px 1px #222;
    background-color: rgba(0, 99, 187, 0.9);
}
.bg-azul:active {
    color: #fff;
    text-shadow: 1px 1px #222;
    background-color: rgba(0, 99, 187, 0.9);
}
.service-item:active {
    color: #fff;
    text-shadow: 1px 1px #222;
    background-color: rgba(0, 99, 187, 0.9);
}
.btn-group > .btn.active {
    color: #fff;
    text-shadow: 1px 1px #222;
    background-color: rgba(0, 99, 187, 0.9);
}
.btn {
    white-space: normal;
}
.btn-group>.btn {
    float: none;
}

@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}
